* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 2fr 1fr auto 1fr;
    height: 100vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgsection1 {
    margin-left: 2%;
    margin-right: 2%;
}

.imgsection2 {
    margin-right: 2%;
}

.img1, .img2, .img3  {
    width: 100%;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgsection4 {
    margin-left: 2%;
    margin-right: 2%;
}

.imgsection5 {
    margin-right: 2%;
}

.img4, .img5, .img6  {
    width: 100%;
    margin-bottom: 1%;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgsection7 {
    margin-left: 2%;
    margin-right: 2%;
}

.imgsection8 {
    margin-right: 2%;
}

.img7, .img8, .img9  {
    width: 100%;
    margin-bottom: 2%;
}

.flex-container4 {
    display: flex;
    flex-direction: row;
}

.vid1 {
    margin-top: -3.3%;
    margin-left: 2%;
    margin-bottom: 1%;

}

.imgsection10 {
    margin-left: 2%;
    width: 320px;
    height: 180px;
}

.img10  {
    width: 100%;
}


section p {
    font-family: "Merriweather", serif;
    font-size: small;
    font-weight: 400;
}

header {
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #03A9F4;
    color: white;
}

header h1 {
    padding-top: 10px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

header h1 a {
    color: white;
}

header h1 a:visited {
    color: white;
}

header h1 a:hover {
    color: #212121;
    cursor: pointer;
}

h1 a {
    text-decoration: none;
}

nav {
    grid-column: 1/3;
    grid-row: 2/3;
    background-color: #0288D1;
}

.navbar li {
    list-style-type: none;
}

.navitem {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
    width: 20%;
    text-align: center;
}

.navitemactive {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
    width: 20%;
    text-align: center;
    background-color: #005583;
}

.navitem:hover {
    background-color: #005583;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin-left: 2%;
}


.contactlink {
    color: #448AFF
}



footer {
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: #B3E5FC;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: x-small;
}


h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.calendar {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}


main {
    grid-column: 1/2;
    grid-row: 3/4;
}

#mobilemenu {

    display: none;

}

@media only screen and (max-width: 970px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr auto auto 1fr;
        height: 100vh;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .flex-container2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .flex-container3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .flex-container4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .vid1 {
        margin-bottom: 3%;
    }

    section p {
        font-size: medium;
    }

    .calendar {
        display: none;
    }

    iframe {
        display: none;
    }
    

    #navbar {

        display: none;

    }



    #mobilemenu {

        display: block;

    }

    .slicknav_nav a {
        margin-left: 40%;
        font-size: medium;
        white-space: nowrap;
        min-width: 130px;
    }

    .slicknav_nav a:hover {
        background-color: #005583;
        color: white;
    }

    .slicknav_menu {
        background-color: #0288D1;
    }

    .slicknav_btn {
        background-color: #005583;
    }
   
}