* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 1fr auto auto 1fr;
    height: 100vh;
}

header {
    grid-column: 1/4;
    grid-row: 1/2;
    background-color: #03A9F4;
    color: white;
}

header h1 {
    padding-top: 10px;
    padding-left: 25px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

nav {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #0288D1;
}

.navbar li {
    list-style-type: none;
}

.navitem {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 42px;
    padding-right: 42px;
    width: 20%;
    text-align: center;
}

.navitem:hover {
    background-color: #005583;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main h1 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

main p {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: smaller;
}

.contactlink {
    color: #448AFF
}

.aboutlist li {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: smaller;
}

.eventlist {
    margin-left: 40px;

    padding-bottom: 20px;
}

.eventlist li {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: medium;
    margin-right: 17%;
    margin-bottom: 4%;
    color: #448AFF;
}

.eventlist li a:visited {
    color: #448AFF;
}

.eventlist {
    margin-right: 10%;
}

footer {
    margin-top: -2%;
    grid-column: 1/4;
    grid-row: 5/6;
    background-color: #B3E5FC;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: x-small;
}

section {
    grid-column: 1/2;
    grid-row: 3/5;
    width: 100%;
    margin: 0 auto;
}

img {
    margin-top: 15px;
    margin-left: 15px;
    width: 91%;
    height: 87%;
    max-width: 100%;
}

h2 {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

.calendar {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.events {
    grid-column: 3/4;
    grid-row: 4/5;
    text-align: center;
}

main {
    grid-column: 2/3;
    grid-row: 3/5;
}


#mobilemenu {

    display: none;

}

@media only screen and (max-width: 970px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr auto auto 1fr;
        height: 100vh;
    }

    header {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    nav {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    section {
        display: none;
    }

    main {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    footer {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    .calendar {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .events {
        grid-column: 2/3;
        grid-row: 4/5;
        
    }

    iframe {
        width: 225px;
        height: 225px;
    }


    #navbar {

        display: none;

    }



    #mobilemenu {

        display: block;

    }

    .slicknav_nav a {
        margin-left: 40%;
        font-size: medium;
        white-space: nowrap;
        min-width: 130px;
    }

    .slicknav_nav a:hover {
        background-color: #005583;
        color: white;
    }

    .slicknav_menu {
        background-color: #0288D1;
    }

    .slicknav_btn {
        background-color: #005583;
    }
   
}